doctype html
html
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Stock Ticker Game
        link(rel = "stylesheet", href="/css/main.css")
        link(rel = "stylesheet", href="/css/lobby.css")
        link(rel = "stylesheet", href="/css/waiting_room.css")
        link(rel = "stylesheet", href="/css/game.css")
        link(rel = "stylesheet", href="/css/game_over.css")
        script(type="module" src="/js/lobby.js" defer)
        script(type="module" src="/js/waiting_room.js" defer)
        script(type="module" src="/js/game.js" defer)
        script(type="module" src="/js/game_over.js" defer)
        block head
    
    body
        #app
            #{view}