doctype html
html
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Stock Ticker Game
        link(rel = "stylesheet", href="/css/main.css")
        script(type="module" src="/socket.io/socket.io.js" defer)
        block head
    
    body
        main
            block main